#tripsTable{
  width: 560px;
  padding: 10px;
}

#tripsTableContainer{
  height: 340px;
  padding: 10px;
  margin-top: 10px;
  width: 580px;
  overflow: auto;
}

.tripDetailsTable{
  overflow: auto;
  height: 40%;
  padding: 10px;
  margin-bottom: 10px;
}

#tripsMap{
  border: 0.5px solid teal;
  margin-top: 10px;
  height: 500px;
}